.container {
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 2px;
  padding: 2rem;
}

.form-container {
  background-color: blanchedalmond;
  width: 100%;
}

.form {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.input {
  margin: 1rem;
}

.list {
  list-style: none;
}

.list-item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.alert {
  color: red;
}

button {
  cursor: pointer;
}
